<a href="https://colab.research.google.com/github/EMcoding17/ExtraccionConocimientosDeBD/blob/main/Exploraci%C3%B3n_Analizis_De_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploración y análisis de datos con Python**
## Extracción de Conocimientos de Base de Datos
### Romero Sosa Emma Yuridia
### 1718110412

---

La exploración y el análisis de datos son el núcleo de la ciencia de datos. Los científicos de datos requieren habilidades en lenguajes como Python para explorar, visualizar y manipular datos.

**Objetivos de aprendizaje**

En este módulo, aprenderá:
*   Tareas comunes de exploración y análisis de datos.
*   Cómo usar paquetes de Python como Numpy, Pandas, Matplotlib para analizar datos.

**Prerrequisitos:**

* Conocimiento de matemáticas básicas.
* Alguna experiencia programando en Python

### **Temario**

*   Introducción
*   Explore datos con NumPy y Pandas
*   Ejercicio: explorar datos con NumPy y Pandas
*   Ejercicio: visualizar datos con Matplotlib
*   Examinar datos del mundo real
*   Ejercicio: examinar datos del mundo real
*   Verificación de conocimientos
*   Resumen


---

# **Introducción**

Como era de esperar, el papel de un científico de datos implica principalmente explorar y analizar datos. Los resultados de un análisis pueden formar la base de un informe o un modelo de machine learning, pero todo comienza con los datos, siendo Python el lenguaje de programación más popular para los científicos de datos.

Después de décadas de desarrollo de código abierto, Python proporciona una amplia funcionalidad con potentes bibliotecas estadísticas y numéricas:

* NumPy y Pandas simplifican el análisis y la manipulación de datos.
* Matplotlib proporciona visualizaciones de datos atractivas.
* Scikit-learn ofrece un análisis de datos predictivo simple y efectivo.
* TensorFlow y PyTorch ofrecen capacidades de *machine learning* y *deep learning*.

Por lo general, un proyecto de análisis de datos está diseñado para establecer conocimientos sobre un escenario particular o para probar una hipótesis.

Por ejemplo, supongamos que un profesor universitario recopila datos de sus estudiantes, incluido el número de conferencias a las que asistieron, las horas dedicadas al estudio y la calificación final obtenida en el examen de fin de trimestre. El profesor podría analizar los datos para determinar si existe una relación entre la cantidad de estudios que realiza un alumno y la nota final que obtiene. El profesor podría usar los datos para probar la hipótesis de que solo los estudiantes que estudian durante un número mínimo de horas pueden esperar obtener una calificación aprobatoria.

---

# **Explore datos con NumPy y Pandas**

Los científicos de datos pueden utilizar diversas herramientas y técnicas para explorar, visualizar y manipular datos. Una de las formas más comunes en las que los científicos de datos trabajan con datos es utilizar el lenguaje Python y algunos paquetes específicos para el procesamiento de datos.

## **¿Qué es NumPy?**
NumPy es una biblioteca de Python que brinda una funcionalidad comparable a las herramientas matemáticas como MATLAB y R. Si bien NumPy simplifica significativamente la experiencia del usuario, también ofrece funciones matemáticas integrales.

## **¿Qué es Pandas?**
Pandas es una biblioteca de Python extremadamente popular para el análisis y la manipulación de datos. Pandas es como Excel para Python: proporciona una funcionalidad fácil de usar para tablas de datos.

![image.png]()

##**Explorar los datos en un cuaderno de Jupyter**
Los cuadernos de Jupyter son una forma popular de ejecutar scripts básicos con su navegador web. Por lo general, estos cuadernos son una sola página web, dividida en secciones de texto y secciones de código que se ejecutan en el servidor en lugar de en su máquina local. Esto significa que puede comenzar rápidamente sin necesidad de instalar Python u otras herramientas.

##**Prueba de hipótesis**
La exploración y el análisis de datos suele ser un proceso iterativo, en el que el científico de datos toma una muestra de datos y realiza los siguientes tipos de tareas para analizarlos y probar una hipótesis:

* Limpiar datos para manejar errores, valores perdidos y otros problemas.
* Aplicar técnicas estadísticas para comprender mejor los datos y cómo se puede esperar que la muestra represente la población de datos del mundo real, lo que permite una variación aleatoria.
* Visualizar los datos para determinar las relaciones entre las variables y, en el caso de un proyecto de *machine learning*, identificar las características que son potencialmente predictivas de la etiqueta.
* Revisar la hipótesis y repetir el proceso.


---

#**Ejercicio: Explorar datos con Numpy y Pandas**

##**Explorando datos con Python**
Una parte importante del rol de un científico de datos es explorar, analizar y visualizar datos. Existe una amplia gama de herramientas y lenguajes de programación que pueden usar para hacer esto; y uno de los enfoques más populares es usar cuadernos de Jupyter (como este) y Python.

Python es un lenguaje de programación flexible que se utiliza en una amplia gama de escenarios; desde aplicaciones web hasta programación de dispositivos. Es extremadamente popular en la comunidad de ciencia de datos y aprendizaje automático debido a los muchos paquetes que admite para el análisis y la visualización de datos.

En este cuaderno, se exploraran algunos de estos paquetes y aplicaran técnicas básicas para analizar datos. No se pretende que sea un ejercicio completo de programación de Python; o incluso una inmersión profunda en el análisis de datos. Más bien, está pensado como un curso acelerado sobre algunas de las formas comunes en las que los científicos de datos pueden usar Python para trabajar con datos.

##**Explorando matrices de datos con NumPy**

Comencemos mirando algunos datos simples.

Suponga que una universidad toma una muestra de las calificaciones de los estudiantes para una clase de ciencia de datos.

In [ ]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

Los datos se han cargado en una **lista** de Python , que es un buen tipo de datos para la manipulación de datos en general, pero no está optimizado para el análisis numérico. Para ello, vamos a utilizar el paquete de **NumPy**, que incluye los tipos de datos y funciones específicas para trabajar con *Numeros* en Python.

In [ ]:
import numpy as np

grades = np.array(data)
print(grades)

En caso de que se esté preguntando acerca de las diferencias entre una *lista* y un **array** *(matriz)* de NumPy , comparemos cómo se comportan estos tipos de datos cuando los usamos en una expresión que los multiplica por 2.

In [ ]:
print (type(data),'x 2:', data * 2)
print('---')
print (type(grades),'x 2:', grades * 2)

Tenga en cuenta que multiplicar una lista por 2 crea una nueva lista de dos veces la longitud con la secuencia original de elementos de la lista repetida. Al multiplicar un **array** de NumPy, por otro lado, se realiza un cálculo por elementos en el que la matriz se comporta como un vector , por lo que terminamos con un **array** del mismo tamaño en la que cada elemento se ha multiplicado por 2.

La conclusión clave de esto es que los **arrays** de NumPy están diseñados específicamente para admitir operaciones matemáticas en datos numéricos, lo que las hace más útiles para el análisis de datos que una lista genérica.

Es posible que haya notado que el tipo de clase para el **array** de numpy anterior es un numpy.ndarray . La **nd** indica que esta es una estructura que puede constar de múltiples dimensiones (puede tener *n* dimensiones). Nuestra instancia específica tiene una sola dimensión de calificaciones de los estudiantes.

In [15]:
grades.shape

(22,)

El **shape** confirma que este **array** tiene una sola dimensión, que contiene 22 elementos (hay 22 grados en la lista original). Puede acceder a los elementos individuales de la matriz por su posición ordinal basada en cero.

Consigamos el primer elemento (el que está en la posición 0).

In [ ]:
grades[0]



---

Ahora que se conoce el camino alrededor de un **array** de NumPy, es hora de realizar un análisis de los datos de calificaciones

Puede aplicar agregaciones entre los elementos de la matriz, así que busquemos la calificación promedio simple (en otras palabras, el valor **medio** de la calificación).

In [ ]:
grades.mean()

Entonces, la nota media esta alrededor de 50, más o menos en el medio del rango posible de 0 a 100.

Agreguemos un segundo conjunto de datos para los mismos estudiantes, esta vez registrando el número típico de horas por semana que dedicaron a estudiar.

In [ ]:
# Definir un array de horas de estudio
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

# Crear un array de dos dimensiones (un array de arrays)
student_data = np.array([study_hours, grades])

# Mostrar el array
student_data

Ahora los datos consisten en un array multidimensional.

In [ ]:
# Mostrar la forma
student_data.shape

El **array** *student_data* contiene dos elementos, cada uno de los cuales es una matriz que contiene 22 elementos.

Para navegar por esta estructura, debe especificar la posición de cada elemento en la jerarquía. Entonces, para encontrar el primer valor en el primer **array** (que contiene los datos de las horas de estudio), puede usar el siguiente código.

In [ ]:
# Mostrar el primer elemento de el primer elemento
student_data[0][0]

Ahora tiene un **array** multidimensional que contiene tanto el tiempo de estudio del estudiante como la información de calificaciones, que puede usar para comparar datos. Por ejemplo, *¿cómo se compara el tiempo medio de estudio con la nota media?*

In [ ]:
# Obtener el valor medio de cada sub-array
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print('Media de las horas de estudio: {:.2f}\nMedia de calificaciones: {:.2f}'.format(avg_study, avg_grade))

## **Explorando datos tabulares con Pandas**

Si bien NumPy proporciona muchas de las funciones que necesita para trabajar con números, y específicamente **arrays** de valores numéricos; Cuando comienza a trabajar con tablas de datos multidimensionales, el paquete Pandas ofrece una estructura más conveniente para trabajar: el **DataFrame**.

Ejecute la siguiente celda para importar la biblioteca Pandas y cree un *DataFrame* con tres columnas. La primera columna es una lista de los nombres de los estudiantes, y la segunda y tercer columnas son los **arrays** de NumPy que contienen el tiempo de estudio y los datos de las calificaciones.

In [ ]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

df_students

Tenga en cuenta que, además de las columnas que especificó, el *DataFrame* incluye un *índice* para identificar de forma única cada fila. Podríamos haber especificado el índice explícitamente y asignado cualquier tipo de valor apropiado (por ejemplo, una dirección de correo electrónico); pero como no especificamos un *índice*, se ha creado uno con un valor entero único para cada fila.

### **Encontrar y filtrar datos en un DataFrame**
Puede usar el método **loc** de *DataFrame* para recuperar datos para un valor de índice específico, como este.

In [23]:
# Obtener el dato del indice 5
df_students.loc[5]

Name          Vicky
StudyHours        1
Grade             3
Name: 5, dtype: object

También puede obtener los datos en un rango de valores de índice, como este:

In [ ]:
# Obtener las filas con indice de 0 a 5
df_students.loc[0:5]

Además de poder usar el método **loc** para buscar filas según el *índice*, puede usar el método **iloc** para buscar filas según su posición ordinal en el *DataFrame* (independientemente del *índice*):

In [ ]:
# Obtener los datos de las primeras 5 filas
df_students.iloc[0:5]

Mire cuidadosamente los resultados de **iloc[0:5]** y compárelos con los resultados de **loc[0:5]** que obtuvo anteriormente. *¿Puedes ver la diferencia?*

El método **loc** devolvió filas con etiqueta de *índice* en la lista de valores de 0 a 5, que incluye 0, 1, 2, 3, 4 y 5 *(seis filas)*. Sin embargo, el método **iloc** devuelve las filas en las posiciones incluidas en el rango de 0 a 5, y dado que los rangos de números enteros no incluyen el valor del límite superior, esto incluye las posiciones 0, 1, 2, 3 y 4 *(cinco filas)*.

**iloc** identifica valores de datos en un *DataFrame* por posición, que se extiende más allá de las filas a las columnas. Entonces, por ejemplo, puede usarlo para encontrar los valores de las columnas en las posiciones 1 y 2 en la fila 0, así:

In [ ]:
df_students.iloc[0,[1,2]]

Volvamos al método **loc** y veamos cómo funciona con columnas. Recuerde que **loc** se usa para ubicar elementos de datos basados en valores de *índice* en lugar de posiciones. En ausencia de una columna de índice explícita, las filas en nuestro marco de datos se indexan como valores enteros, pero las columnas se identifican por su nombre:

In [ ]:
df_students.loc[0,'Grade']

Aquí hay otro truco útil. Puede usar el método **loc** para buscar filas indexadas en función de una expresión de filtrado que haga referencia a columnas con nombre distintas del *índice*, como esta:

In [ ]:
df_students.loc[df_students['Name']=='Aisha']

En realidad, no necesita usar explícitamente el método **loc** para hacer esto; simplemente puede aplicar una expresión de filtrado de DataFrame, como esta:

In [ ]:
df_students[df_students['Name']=='Aisha']

Y en buena medida, puede lograr los mismos resultados utilizando el método de **consulta** de *DataFrame*, como este:

In [ ]:
df_students.query('Name=="Aisha"')

Los tres ejemplos anteriores subrayan una verdad ocasionalmente confusa sobre trabajar con Pandas. A menudo, hay varias formas de lograr los mismos resultados. Otro ejemplo de esto es la forma en que se refiere al nombre de una columna de *DataFrame*. Puede especificar el nombre de la columna como un valor de *índice* con nombre (como en los ejemplos de *df_students['Name']* que hemos visto hasta ahora), o puede usar la columna como una propiedad del *DataFrame*, así:

In [ ]:
df_students[df_students.Name == 'Aisha']

### **Cargando un DataFrame desde un archivo**

Construimos el *DataFrame* a partir de algunos **arrays** existentes. Sin embargo, en muchos escenarios del mundo real, los datos se cargan desde fuentes externas como archivos. Reemplacemos el *DataFrame* de calificaciones de los estudiantes con el contenido de un archivo de texto.

In [ ]:
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
df_students = pd.read_csv('grades.csv',delimiter=',',header='infer')
df_students.head()

El método **read_csv** de *DataFrame* se usa para cargar datos desde archivos de texto. Como puede ver en el código de ejemplo, puede especificar opciones como el delimitador de columna y qué fila (si hay alguna) contiene encabezados de columna (en este caso, el delimitador es una coma y la primera fila contiene los nombres de columna; estos son las configuraciones predeterminadas, por lo que los parámetros podrían haberse omitido).

###**Manejo de valores perdidos**

Uno de los problemas más comunes con los que deben lidiar los científicos de datos es la falta de datos o los datos incompletos. Entonces, *¿cómo sabríamos que el DataFrame contiene valores faltantes?* Puede usar el método isnull para identificar qué valores individuales son nulos, como este:

In [ ]:
df_students.isnull()

Por supuesto, con un *DataFrame* más grande, sería ineficiente revisar todas las filas y columnas individualmente; para que podamos obtener la suma de los valores perdidos para cada columna, así:

In [ ]:
df_students.isnull().sum()

Ahora sabemos que falta un valor de **StudyHours** y dos valores de **Grade**.

Para verlos en contexto, podemos filtrar el marco de datos para incluir solo filas donde cualquiera de las columnas (eje 1 del marco de datos) sea nula.

In [ ]:
df_students[df_students.isnull().any(axis=1)]

Cuando se recupera el *DataFrame*, los valores numéricos faltantes se muestran como **NaN** *( no como un número ).*

Entonces, ahora que hemos encontrado los valores nulos, *¿qué podemos hacer con ellos?*

Un enfoque común es imputar valores de reemplazo. Por ejemplo, si falta el número de horas de estudio, podríamos simplemente asumir que el estudiante estudió durante un tiempo promedio y reemplazar el valor faltante con la media de horas de estudio. Para hacer esto, podemos usar el método **fillna**, así:

In [ ]:
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
df_students

Alternativamente, puede ser importante asegurarse de que solo use datos que sepa que son absolutamente correctos; para que pueda eliminar filas o columnas que contienen valores nulos mediante el uso del método **dropna**. En este caso, eliminaremos filas (eje 0 del *DataFrame*) donde ninguna de las columnas contiene valores nulos.

In [ ]:
df_students = df_students.dropna(axis=0, how='any')
df_students

### **Explore los datos en el DataFrame**

Ahora que hemos limpiado los valores faltantes, estamos listos para explorar los datos en el *DataFrame*. Comencemos comparando la media de horas de estudio y calificaciones.

In [ ]:
# Obtener el valor medio de las horas de estudio usando el nombre de columna como un indice
mean_study = df_students['StudyHours'].mean()

# Obtener el valor medio de las calificaciones usando el nombre de columna como una propiedad
mean_grade = df_students.Grade.mean()

# Mostrar el valor medio de las horas de estudio y las calificaciones
print('Media de horas de estudio semanal: {:.2f}\nMedia de calificaciones: {:.2f}'.format(mean_study, mean_grade))

Ahora, filtremos el *DataFrame* para encontrar solo los estudiantes que estudiaron por más de la cantidad de tiempo promedio.

In [ ]:
# Obtener los estudiantes que estudiaron mas de la cantidad de tiempo promedio
df_students[df_students.StudyHours > mean_study]

Tenga en cuenta que el resultado filtrado es en sí mismo un *DataFrame*, por lo que puede trabajar con sus columnas como cualquier otro *DataFrame*.

Por ejemplo, busquemos la calificación promedio de los estudiantes que realizaron más tiempo de estudio que el promedio.

In [ ]:
# Cual fue su calificacion promedio?
df_students[df_students.StudyHours > mean_study].Grade.mean()

Supongamos que la calificación aprobatoria del curso es **60**.

Podemos usar esa información para agregar una nueva columna al *DataFrame*, indicando si cada estudiante aprobó o no.

Primero, crearemos una **Serie** Pandas que contiene el indicador de pasa / falla (Verdadero o Falso), y luego concatenamos esa serie como una nueva columna (eje 1) en el *DataFrame*.

In [ ]:
passes  = pd.Series(df_students['Grade'] >= 60)
df_students = pd.concat([df_students, passes.rename("Pass")], axis=1)

df_students

Los *DataFrames* están diseñados para datos tabulares y puede utilizarlos para realizar muchos de los tipos de operaciones de análisis de datos que puede realizar en una base de datos relacional; como agrupar y agregar tablas de datos.

Por ejemplo, puede usar el método **groupby** para agrupar los datos de los estudiantes en grupos según la columna de **Aprobado** que agregó anteriormente y contar el número de nombres en cada grupo; en otras palabras, puede determinar cuántos estudiantes aprobaron y reprobaron.

In [ ]:
print(df_students.groupby(df_students.Pass).Name.count())

Puede agregar varios campos en un grupo utilizando cualquier función de agregación disponible. Por ejemplo, puede encontrar el tiempo medio de estudio y la calificación de los grupos de estudiantes que aprobaron y reprobaron el curso.

In [ ]:
print(df_students.groupby(df_students.Pass)['StudyHours', 'Grade'].mean())

Los *DataFrames* son increíblemente versátiles y facilitan la manipulación de datos. Muchas operaciones de DataFrame devuelven una nueva copia del DataFrame; por lo que si desea modificar un DataFrame pero mantener la variable existente, debe asignar el resultado de la operación a la variable existente. Por ejemplo, el siguiente código ordena los datos de los estudiantes en orden descendente por **Grade** y asigna el *DataFrame* ordenado resultante a la variable **df_students** original.

In [ ]:
# Crear un DataFrame con los datos ordenados descendientemente por Grade
df_students = df_students.sort_values('Grade', ascending=False)

# Mostrar el DataFrame
df_students