<a href="https://colab.research.google.com/github/EMcoding17/ExtraccionConocimientosDeBD/blob/main/Actividad06/RedNeuronal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **RED NERURONAL**
## **Extraccion de conocimientos de base de datos**
## **Romero Sosa Emma Yuridia**
## **IDGS 91**

---

# **Importar librerias**

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
%load_ext tensorboard

# **Cargar Dataset**

In [2]:
#Cargar dataset desde github
!wget https://raw.githubusercontent.com/EMcoding17/ExtraccionConocimientosDeBD/main/Actividad06/grados.csv
df = pd.read_csv("grados.csv",delimiter=',',header='infer')

--2021-12-02 01:33:25--  https://raw.githubusercontent.com/EMcoding17/ExtraccionConocimientosDeBD/main/Actividad06/grados.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5672 (5.5K) [text/plain]
Saving to: ‘grados.csv.12’

grados.csv.12       100%[===================>]   5.54K  --.-KB/s    in 0s

2021-12-02 01:33:25 (39.5 MB/s) - ‘grados.csv.12’ saved [5672/5672]

In [3]:
#Mostrar la forma del dataframe
df.shape

(499, 2)

In [4]:
#Mostrar los primeros 5 registros
df.head()

   Celsius  Fahrenhiet
0       78       165.0
1       24       184.8
2       56        60.5
3       17        69.3
4        4       135.3

In [5]:
#Mostrar los ultimos 5 registros
df.tail()

     Celsius  Fahrenhiet
494       46       133.1
495       99        69.3
496       28       193.6
497       71       199.1
498       84       143.0

In [6]:
#Mostrar la información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Celsius     499 non-null    int64
 1   Fahrenhiet  499 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 7.9 KB

In [7]:
#Convertir columna Celsius a float64
df['Celsius'] = df['Celsius'].astype('float64')
#Verificar la información del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Celsius     499 non-null    float64
 1   Fahrenhiet  499 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [8]:
#Mostrar los primeros 5 registros
df.head()

   Celsius  Fahrenhiet
0     78.0       165.0
1     24.0       184.8
2     56.0        60.5
3     17.0        69.3
4      4.0       135.3

In [9]:
#Obtener la suma de los datos faltantes de cada columna
df.isnull().sum()

Celsius       0
Fahrenhiet    0
dtype: int64