<a href="https://colab.research.google.com/github/EMcoding17/ExtraccionConocimientosDeBD/blob/main/Actividad02/Actividad(2%2C2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Actividad 02: Preparación de los datos**
**Integrantes:**
* Pérez Suarez Fernando
* Romero Sosa Emma Yuridia

**Situación:**

Este conjunto de datos tiene datos de clientes que compran ropa en línea. La tienda ofrece sesiones de consejos de estilo y ropa en la tienda. Los clientes entran a la tienda, tienen sesiones / reuniones con un estilista personal, luego pueden ir a casa y ordenar en una aplicación móvil o sitio web la ropa que desean.

La compañía está tratando de decidir si enfocar sus esfuerzos en su experiencia con la aplicación móvil o en su sitio web.


---

# Importar librerias

In [3]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.19.5
1.1.5

# Ver datos

In [ ]:
datos = pd.read_csv('ecommerce_customers.csv',delimiter=',',header='infer')

datos

                             Email  ... Yearly Amount Spent
0        mstephenson@fernandez.com  ...          587.951054
1                hduke@hotmail.com  ...          392.204933
2                 pallen@yahoo.com  ...          487.547505
3          riverarebecca@gmail.com  ...          581.852344
4    mstephens@davidson-herman.com  ...          599.406092
..                             ...  ...                 ...
495   lewisjessica@craig-evans.com  ...          573.847438
496            katrina56@gmail.com  ...          529.049004
497             dale88@hotmail.com  ...          551.620146
498            cwilson@hotmail.com  ...          456.469510
499      hannahwilson@davidson.com  ...          497.778642

[500 rows x 8 columns]

In [42]:
!wget https://raw.githubusercontent.com/EMcoding17/ExtraccionConocimientosDeBD/main/Actividad02/ecommerce_customers.csv
df_customers = pd.read_csv('ecommerce_customers.csv',delimiter=',',header='infer')

--2021-10-07 19:38:54--  https://raw.githubusercontent.com/EMcoding17/ExtraccionConocimientosDeBD/main/Actividad02/ecommerce_customers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71638 (70K) [text/plain]
Saving to: ‘ecommerce_customers.csv.1’

ecommerce_customers 100%[===================>]  69.96K  --.-KB/s    in 0.008s

2021-10-07 19:38:54 (8.97 MB/s) - ‘ecommerce_customers.csv.1’ saved [71638/71638]



---

#Limpieza de datos



> ## **Verificar datos faltantes**

In [5]:
#Obtener la suma de los valores perdidos por cada columna
datos_perdidos = df_customers.isnull().sum()
datos_perdidos

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         1
Length of Membership    1
Yearly Amount Spent     0
dtype: int64

In [6]:
#Visualizar los datos faltantes del dataframe
df_customers[df_customers.isnull().any(axis=1)]

                            Email  ... Yearly Amount Spent
10          andrew06@peterson.com  ...          492.606013
38  cunninghamwilliam@hotmail.com  ...          478.170334

[2 rows x 8 columns]

In [7]:
#Conocer el porcentaje de datos faltantes
total_celdas = np.product(df_customers.shape)
total_celdas_perdidas = datos_perdidos.sum()
porcentaje = (total_celdas_perdidas / total_celdas) * 100
porcentaje

0.05

> ## **Imputación de los datos**

Consisten en estimar los valores ausentes en base a los valores válidos de otras variables y/o casos de la muestra. *La estimación se puede hacer a partir de la información del conjunto completo de* variables o bien de algunas variables especialmente seleccionadas

In [8]:
#Verificacion del tipo de dato por columna
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       499 non-null    float64
 6   Length of Membership  499 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [9]:
#Sustitución por la media a valores faltantes de la columna Length of Membership
media_length_membership = df_customers['Length of Membership'].mean()
media_length_membership

3.5355674753386777

In [10]:
df_customers['Length of Membership'].replace(np.NaN, media_length_membership, inplace=True)
df_customers.loc[10]

Email                                               andrew06@peterson.com
Address                 26104 Alexander Groves\nAlexandriaport, WY 282...
Avatar                                                             Tomato
Avg. Session Length                                               33.9926
Time on App                                                        13.339
Time on Website                                                   37.2258
Length of Membership                                              3.53557
Yearly Amount Spent                                               492.606
Name: 10, dtype: object

In [11]:
#Sustitución por la media a valores faltantes de la columna Length of Membership
media_timeweb = df_customers['Time on Website'].mean()

In [12]:
df_customers.replace(np.NaN, media_timeweb, inplace=True)
df_customers.loc[38]

Email                                 cunninghamwilliam@hotmail.com
Address                 4589 Dan Fords\nBeasleyburgh, ME 96590-8272
Avatar                                                     HoneyDew
Avg. Session Length                                         32.7494
Time on App                                                 9.95498
Time on Website                                             37.0598
Length of Membership                                        4.65049
Yearly Amount Spent                                          478.17
Name: 38, dtype: object

In [13]:
#Verificación del cambio
df_customers.isnull().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [14]:
#Verificar el tipo de datos por cada columna
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB



> ## **Verificar datos duplicados**

In [47]:
#Verificar que no haya datos suplicados dentro del dataframe
df_customers.duplicated().sum()

0